/* home.css */

/* Center container horizontally and vertically */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    width: 100%;
    word-wrap: break-word; /* Enable text wrapping within cells */


}

/* Ensure the list of events doesn't overflow */
.home-container .list-group {
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Center the pagination controls */
.home-container .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Style pagination links */
.home-container .pagination .page-item .page-link {

    border-color: #ddd;
}

/* Custom styling to override bootstrap for active and disabled states */
.pagination .page-item.active .page-link {
    background-color: #343a40;
    border-color: #fff;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
    border-color: #ddd;
}

/* Styling for the event details and buttons */
.home-container .list-group-item h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}
#description {
    padding: 5px 50px 5px 50px;
}

.home-container .list-group-item .btn-info {
    margin-top: 10px;
    background-color: lightblue;
    border-color: #17a2b8;
}

/* Override default button style on hover */
.home-container .list-group-item .btn-info:hover {
    background-color: dodgerblue;
    border-color: #138496;
}

/* Disable Bootstrap's button focus outline */
.home-container .list-group-item .btn-info:focus {
    outline: none;
}

