.search-form-container {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.search-form {
    display: flex;
    width: 100%;
    position: relative;
}

.search-input {
    width: 100%;
    max-width: 750px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    max-width: 55px;
    border-radius: 4px;
    padding: 0 12px;
    cursor: pointer;
    font-size: 16px;
    margin-left: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.search-button i {
    font-size: 18px;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button:focus {
    outline: none;
}

.search-button:active {
    background-color: #004085;
}
