{#{% extends 'common/base.html' %}#}
{##}
{#{% block title %}Venue Details{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div id="venue-container">#}
{#        <h1>{{ venue.name }}</h1>#}
{#        <p><strong>Location:</strong> {{ venue.location }}</p>#}
{#        <p><strong>Capacity:</strong> {{ venue.capacity }}</p>#}
{#        <p><strong>Description:</strong> {{ venue.description }}</p>#}
{##}
{#        <a href="{% url 'edit-venue' venue.pk %}" id="edit-btn">Edit Venue</a>#}
{#        <a href="{% url 'venue-list' %}" id="back-btn">Back to Venues</a>#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'common/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="event-detail text-center">
                    <h1 class="event-title">{{ venue.name }}</h1>
                    <p class="event-description"><strong>Capacity:</strong> {{ venue.capacity }}</p>
                    <p class="event-location"><strong>Location:</strong> {{ venue.location }}</p>
                    <p class="event-date"><strong>Available from:</strong> {{ venue.available_from|date:"F j, Y, g:i a" }}</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

