{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/common/search-bar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="search-form-container">
    <form method="get" action="{% url 'home' %}" class="search-form">
        <input
                type="text"
                name="q"
                placeholder="Search for events..."
                value="{{ request.GET.q }}"
                class="search-input"
                aria-label="Search">
        <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>
