{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
  <div class="profile-edit-container">
    <h2>Edit Profile</h2>
    <form method="POST">
        {% csrf_token %}

        <!-- Render First Name Field -->
        <div class="form-group">
            <label for="id_first_name">First Name:</label>
            {{ form.first_name }}
        </div>

        <!-- Render Last Name Field -->
        <div class="form-group">
            <label for="id_last_name">Last Name:</label>
            {{ form.last_name }}
        </div>

        <!-- Render Email Field -->
        <div class="form-group">
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>

        <!-- Render Profile Picture -->
        <div class="form-group">
            <label for="id_profile_picture">Profile Picture URL:</label>
            {% if form.profile_picture.value %}
                <!-- Display the current profile picture if a URL is provided -->
                <div class="current-image mb-2">
                        <img src="{{ form.profile_picture.value }}" alt="Current Profile Picture" style="max-width: 100px; max-height: 100px;">
                </div>
            {% endif %}
            <!-- Render the URL input field for the profile picture -->
            {{ form.profile_picture }}
        </div>

        <!-- Display errors if present -->
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- Buttons -->
        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-primary flex-fill me-2">Save Changes</button>
            <a href="{% url 'profile' %}" class="btn btn-outline-info flex-fill">Cancel</a>
        </div>
    </form>
  </div>
{% endblock %}
